<tr>
  <td
    style="
      padding: 30px;
      font-size: 24px;
      line-height: 28px;
      font-weight: bold;
      background-color: <%= theme.colors.backgroundTertiary %>;
      <%= style %>
    "
  >
    <a href="<%= data.link %>" style="text-decoration: none"
      ><img
        src="<%= data.image %>"
        width="540"
        alt=""
        style="
          width: 100%;
          height: auto;
          border: none;
          text-decoration: none;
          color: <%= theme.colors.textDark %>;
        "
    /></a>
  </td>
</tr>
